
{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/jscript.js' %}"></script>
    <title>Bucket Lists</title>

    
</head>

<body>

    <!-- Nav bar  -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img class="mx-3 logo" src="{% static 'img/bl.jpg' %}" alt="logo">
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Hello {{request.session.firstname}}</a>
          </li>
         
        </ul>
      </nav>

  



<!--  tasks data entry -->
        
    <div class="bg-dark container-fluid m-0">
            <form method="post" action="{% url 'taskform' %}" name="taskform" id="movetask">
                {%csrf_token%}


               
                    

                        <input type="text" name="task1" class="input-text form-control border-1 border-dark bg-light"
                            placeholder="write Your task.." aria-label="task1" aria-describedby="basic-addon1"
                            maxlength="50" pattern="([^\s][A-zÀ-ž\s]+)" title="Letters & space only" required>
                  

                    <div class="btn-group d-flex align-items-center justify-content-center mt-3" role="group">

                        <button type="submit" class="btn btn-danger btn-sm btn-block " name="AddTask">
                            fill your Bucket</button>

                        <button type="submit" class="btn btn-info  btn-sm btn-block" value="0" id="pending">
                            toDo</button>

                        <input type="hidden" name="pending" value="Pending">

                        <button type="submit" class="btn btn-success btn-sm btn-block " value="1" id="complist">
                            accomplished
                        </button>
                        <button type="submit" class="btn btn-warning btn-sm btn-block" value="1" id="logout">
                            I want to get out!
                        </button>

                      
                    </div>
              
            </form>


          
        </div>
         
          <!--  tasks display both completed and incompleted   -->
            
              <div class="card-body container mt-5 d-flex align-items-center justify-content-center"  id="myDiv">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/th.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text  text-dange">Take a first Step. &#8986;JUST DO IT!</p>
                    </div>
                  </div>

              </div>

 <!--   footer message  -->
              {% block footer %}

              <p class="m-3 text-danger ">&copy; Copyright Adamb</p>
              
              {% endblock footer %}

             
           

            






    
</body>

</html>