<!-- {% extends "master.html" %} -->

<form method="post" action="{% url 'movetask' %}" name="movetask" id="movetask">
  <H1>INSIDE CONTEXT LOOP</H1>
  {%for task in context%}
   

  <div id="tid">

    <div  id="myDiv">
      {%if task.status == 1 %}
      <input type="checkbox" value={{task.taskid}} id="checkbox1" checked>
      {% endif %}
      {%if task.status == 0 %}
      <input type="checkbox" value={{task.taskid}} id="checkbox2">
      {% endif %}

      <input type="hidden" name="status" value={{task.status}}>
      <input type="hidden" id="taskid1" class="chk" value={{task.taskid}}>
    </div>
    <div class="col"><span class="data text-nowrap">{{task.task}}<span></div>
    <div class="col"><span class="data">{{task.dt}}</span></div>

  </div>

  {% endfor %}




</form>



<!-- <script>
    var ele = document.querySelectorAll("input[type=checkbox]");
  for (var i = 0; i < ele.length; i++) {
    ele[i].checked = true;
  }</script> -->